<h1>Listing presidents</h1>

<table>
  <thead>
    <tr>
      <th>Presidentnumber</th>
      <th>Name</th>
      <th>Biography</th>
      <th>Termstart</th>
      <th>Termend</th>
      <th>Partyaffiliation</th>
      <th>Picture</th>
      <th>State</th>
      <th>Term</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @presidents.each do |president| %>
      <tr>
        <td><%= president.presidentNumber %></td>
        <td><%= president.name %></td>
        <td><%= president.biography %></td>
        <td><%= president.termStart %></td>
        <td><%= president.termEnd %></td>
        <td><%= president.partyAffiliation %></td>
        <td><%= president.picture %></td>
        <td><%= president.state %></td>
        <td><%= president.term %></td>
        <td><%= link_to 'Show', president %></td>
        <td><%= link_to 'Edit', edit_president_path(president) %></td>
        <td><%= link_to 'Destroy', president, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New President', new_president_path %>
