<h1>Listing presidents</h1>

<table>
  <thead>
    <tr>
      <th>Presidency</th>
      <th>President</th>
      <th>Took office</th>
      <th>Left office</th>
      <th>Party</th>
      <th>Picture</th>
      <th>State</th>
      <th>Term</th>
      <th>Biography</th>
    </tr>
  </thead>

  <tbody>
    <% @presidents.each do |president| %>
      <tr>
        <td><%= president.presidency %></td>
        <td><%= president.president %></td>
        <td><%= president.took_office %></td>
        <td><%= president.left_office %></td>
        <td><%= president.party %></td>
        <td><%= president.picture %></td>
        <td><%= president.state %></td>
        <td><%= president.term %></td>
        <td><%= president.biography %></td>
        <td><%= link_to 'Show', president %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New President', new_president_path %>
