<p id="notice"><%= notice %></p>

<p>
  <strong>Presidency:</strong>
  <%= @president.presidency %>
</p>

<p>
  <strong>President:</strong>
  <%= @president.president %>
</p>

<p>
  <strong>Took office:</strong>
  <%= @president.took_office %>
</p>

<p>
  <strong>Left office:</strong>
  <%= @president.left_office %>
</p>

<p>
  <strong>Party:</strong>
  <%= @president.party %>
</p>

<p>
  <strong>Picture:</strong>
  <%= @president.picture %>
</p>

<p>
  <strong>State:</strong>
  <%= @president.state %>
</p>

<p>
  <strong>Term:</strong>
  <%= @president.term %>
</p>

<p>
  <strong>Biography:</strong>
  <%= @president.biography %>
</p>


<%= link_to 'Back', presidents_path %>
